.button {
    color: rgba(250, 250, 250, 0.7);
    background-color: rgba(250, 250, 250, 0.1);
    border: none;
    width: 15rem;
    height: 3rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-style: italic;
    font-family: monospace;
  }
  
  .button:hover {
    color: rgba(250, 250, 250, 0.9);
    background-color: rgba(250, 250, 250, 0.3);
  }
  
  